<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Youth Ministry | CFF Juja Farm</title>
    <link rel="stylesheet" href="/static/css/kingdom men.css">
</head>
<body>

<main class="ministry-detail">

    <section class="ministry-card">
        <div class="ministry-text">
            <h1>Kingdom Men</h1>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Illum sint ea earum at nam nobis dolor ratione quo? Illum mollitia omnis ex laudantium accusantium labore reiciendis cupiditate quis fuga optio.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis modi enim, qui, accusamus dolorem illum minus delectus molestias corrupti non
                doloribus quisquam laudantium eveniet eaque animi ratione iure eius hic.
            </p>
            <p>
                Join us every Sunday for fellowship, Bible study, mentorship, creative arts, and community outreach programs
                designed to inspire and empower the next generation.
            </p>

            <a href="/ministries" class="back-button">← Back to Ministries</a>
        </div>

        <div class="ministry-image">
            <img src="static/images/kingdom men.jpg" alt="Youth Ministry">
        </div>
    </section>

</main>

</body>
</html>
